@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>
        Passing Parameters
    </h1>
    <p class="lead">Passing List of objects to the View using List Object </p>
</div>


<a class="btn btn-primary btn-large btn-block"  href="@Url.Action("Details","Auctions")" title="Show Data">Show Data !!!  Click Me....
    
    <span class="glyphicon glyphicon-road"></span>
    </a>
